<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {{ include './sect/css.html'}}
  <link rel="stylesheet" href="/public/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!-- 头部 -->
    {{ include './sect/top.html'}}
    <!-- 左边 -->
    {{ include './sect/left.html'}}
  <class class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
      <h2>文章管理</h2>
      <div>
          <button type="button" id="add"  class="layui-btn">
              <i class="layui-icon">&#xe608;</i> 添加文章
          </button>
      </div>
     
      <table class="layui-hide" id="test" lay-filter="test"></table>
      
      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="show">查看内容</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script> 
    </div>
  </class>
  <!-- 底部 -->
  {{ include './sect/bottom.html'}}
  
</div>

{{ include './sect/cite.html'}}
  
<script>
//JavaScript代码区域
// layui.use('element', function(){
//   var element = layui.element;
  
// });

 //JavaScript代码区域
 layui.use(['element', 'table'], function () {
      var element = layui.element;
      var table = layui.table;

     let tableUI = table.render({
      elem: '#test',
      url: '/alictal',
       cellMinWidth: 100,
        // 开启头部工具，并设置左侧模板
        toolbar: '#toolbarDemo' ,
    defaultToolbar: ['filter', 'exports', 'print', { 
        title: '提示',
        layEvent: 'LAYTABLE_TIPS',
        icon: 'layui-icon-tips'
       }],
      limit: 10,
        limits: [10, 20, 30, 40],
        request: {
          // 页码参数
          pageName: 'page' ,
          // 每一页的参数名
          limitName: 'limit'

        },
 where: {
          a: 2,
          b: 3
        },
title: '文章信息',
  cols: [
          [{
            type: 'checkbox',
            fixed: 'left'
          }, {
    field: 'art_id',
        title: 'ID',
          width: 80,
           fixed: 'left',
           unresize: true,
           hide:true
          }, {
        field: 'title',
         title: '题目',
           width: 120,
          edit: 'text'
          }, {
         field: 'content',
           title: '内容',
          width: 120
          }, {
           field: 'cat_id',
          title: '分类',
            width: 150
          }, {
         field: 'author',
            title: '作者',
          width: 80,
          edit: 'text',
            sort: true
          }, {
       field: 'cover',
          title: '照片',
            width: 100
          }, {
            field: 'status',
            title: '状态',
            unresize: false,
            templet: (item) => {
              // 映射关系 或 new Map也行
              let statusMap = {
                "0": "已发布",
                "1": "未发布",
                "2": "审核中"
              }
         return statusMap[item.status]
            }
          }, {
          field: 'publish_date',
       title: '时间',
          sort: true,
         templet(item) {
             let {
                publish_date
           } = item;
         return util.date_format(publish_date)
            }
          }, {
           fixed: 'right',
         title: '操作',
            toolbar: '#barDemo'
          }]
        ],
        page: true,
    parseData: function (res) {
            return res;
          }
          ,
        response: {},
        text: {
          none: '暂无数据' 
        }
      });


      //监听删除、编辑事件
      table.on('tool(test)', function (obj) {
        let {
          data,
          event
        } = obj;
        let {art_id} = data;
        switch (event) {
          case "del":
            del(art_id)
            break;
          case "edit":
            edit(art_id)
            break;

        }



      });

      // 删除文章
  function del(art_id) {
            layer.confirm('删除', {
              //按钮
                btn: ['是', '否?'] 
            }, function () {
                $.ajax({
                    type:'post',
                    url:"/delticle",
                    data:{art_id},
                    // 解构形参对象的参数
                    success({errcode,message}){ 
                        layer.closeAll();
                if(errcode == 0){
                            tableUI.reload();
                            // 弹框
                            layer.msg(message)
                        }
                    }
                })
            });
      }

   // 文章编辑页的跳转
      function edit(art_id){
        location.href = `/artedit?art_id=${art_id}`
      }

      // 跳转到文章添加页面
      $("#add").on('click',()=>{
        location.href = '/addart'
      })

    });
</script>
</body>
</html>